<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Starship/Matisse Root Complex</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x0,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,2</string>
				<key>device_type</key>
				<string>IOMMU</string>
				<key>model</key>
				<string>Starship/Matisse IOMMU</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Starship/Matisse PCIe Dummy Host Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Starship/Matisse GPP Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,0</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>500 Series Chipset USB 3.1 XHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,1</string>
				<key>device_type</key>
				<string>SATA controller</string>
				<key>model</key>
				<string>500 Series Chipset SATA Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>500 Series Chipset Switch Upstream Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/0,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>???</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/0,0/0,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>model</key>
				<string>Ellesmere [Radeon RX 470/480/570/570X/580/580X/590]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x0,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/0,0/0,1</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>model</key>
				<string>Ellesmere HDMI Audio [Radeon RX 470/480 / 570/580/590]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/4,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>???</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x4,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/4,0/0,0</string>
				<key>device_type</key>
				<string>Non-Volatile memory controller</string>
				<key>model</key>
				<string>NV1 NVMe SSD</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x8,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/8,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>???</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x8,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/8,0/0,0</string>
				<key>device_type</key>
				<string>Network controller</string>
				<key>model</key>
				<string>Wi-Fi 6 AX200</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x9,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/9,0</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>???</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x2)/Pci(0x9,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,2/0,2/9,0/0,0</string>
				<key>device_type</key>
				<string>Ethernet controller</string>
				<key>model</key>
				<string>Ethernet Controller I225-V</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>FCH SMBus Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,3</string>
				<key>device_type</key>
				<string>ISA bridge</string>
				<key>model</key>
				<string>FCH LPC Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x18,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,24,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Matisse/Vermeer Data Fabric: Device 18h; Function 0</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x18,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,24,1</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Matisse/Vermeer Data Fabric: Device 18h; Function 1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x18,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,24,2</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Matisse/Vermeer Data Fabric: Device 18h; Function 2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x18,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,24,3</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Matisse/Vermeer Data Fabric: Device 18h; Function 3</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x18,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,24,4</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Matisse/Vermeer Data Fabric: Device 18h; Function 4</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x18,0x5)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,24,5</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Matisse/Vermeer Data Fabric: Device 18h; Function 5</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x18,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,24,6</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Matisse/Vermeer Data Fabric: Device 18h; Function 6</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x18,0x7)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,24,7</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Matisse/Vermeer Data Fabric: Device 18h; Function 7</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Starship/Matisse PCIe Dummy Host Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Starship/Matisse PCIe Dummy Host Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,1</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Starship/Matisse GPP Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,1/0,0</string>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>model</key>
				<string>GA106 [GeForce RTX 3060 Lite Hash Rate]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x1)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,1/0,1</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>model</key>
				<string>GA106 High Definition Audio Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,4,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Starship/Matisse PCIe Dummy Host Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x5,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,5,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Starship/Matisse PCIe Dummy Host Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x7,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,7,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Starship/Matisse PCIe Dummy Host Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x7,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,7,1</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Starship/Matisse Internal PCIe GPP Bridge 0 to bus[E:B]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x7,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,7,1/0,0</string>
				<key>device_type</key>
				<string>Non-Essential Instrumentation</string>
				<key>model</key>
				<string>Starship/Matisse PCIe Dummy Function</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x8,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,8,0</string>
				<key>device_type</key>
				<string>Host bridge</string>
				<key>model</key>
				<string>Starship/Matisse PCIe Dummy Host Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x8,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,8,1</string>
				<key>device_type</key>
				<string>PCI bridge</string>
				<key>model</key>
				<string>Starship/Matisse Internal PCIe GPP Bridge 0 to bus[E:B]</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x8,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,8,1/0,0</string>
				<key>device_type</key>
				<string>Non-Essential Instrumentation</string>
				<key>model</key>
				<string>Starship/Matisse Reserved SPP</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x8,0x1)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,8,1/0,1</string>
				<key>device_type</key>
				<string>Encryption controller</string>
				<key>model</key>
				<string>Starship/Matisse Cryptographic Coprocessor PSPCPP</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x8,0x1)/Pci(0x0,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,8,1/0,3</string>
				<key>device_type</key>
				<string>USB controller</string>
				<key>model</key>
				<string>Matisse USB 3.0 Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x8,0x1)/Pci(0x0,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,8,1/0,4</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>model</key>
				<string>Starship/Matisse HD Audio Controller</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
